.menu__section-box {
  background: #ffffff;
  padding: 1.25rem;
  margin-bottom: 20px;
}

.menu__section-heading {
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 1.1rem;
  color: rgba(0, 0, 0, 0.5);
}

.menu__section-list {
  display: flex;
  width: 100%;
  height: 100%;
}

.menu__section-item {
  position: relative;
  width: 20%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 0.125rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  margin: 0 0.25rem;
  overflow: hidden;
  top: 0;
  transition: all linear 0.07s;
}

.menu__item-img {
  margin: 0 auto;
  min-height: 11.4375rem;
  width: 11.4375rem;
}

.menu__item-title {
  margin: 10px 0;
  padding: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.menu__item-price {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 10px;
}

.menu__item-price span {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 4px;
}

.menu__section-item:hover {
  top: -2px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05);
}
