.login__info-header {
  padding: 22px 30px;
  display: flex;
  align-items: center;
}

.login__info-header__text {
  font-size: 20px;
  color: #222;
  flex-shrink: 0;
}

.login__info-header__qr {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login__info-qr__text {
  background-color: #fefaec;
  border: 2px solid #ffbf00;
  border-radius: 2px;
  color: #ffbf00;
  font-size: 0.875rem;
  font-weight: 700;
  margin-right: 1rem;
  padding: 0.6875rem 0.875rem;
  position: relative;
}

.login__info-qr__text::after {
  background-color: #fefaec;
  border-right: 2px solid #ffbf00;
  border-top: 2px solid #ffbf00;
  box-sizing: border-box;
  content: "";
  height: 0.75rem;
  position: absolute;
  right: -0.75rem;
  top: 50%;
  transform: rotate(45deg) translateX(-50%);
  width: 0.75rem;
}

.login__info-body {
  padding: 0 30px 30px;
}

.login__input-text__eye {
  display: block;
  padding-right: 15px;
  padding-top: 5px;
  flex-shrink: 0;
}

.login__input-text__btn {
  font-size: 20px;
  color: #888;
}

.login__body-others {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #05a;
}
