.product__wrapper {
  margin-top: 10px;
  display: flex;
}

.shoppe-search-empty-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 100px 0;
}

.shoppe-search-empty-result__icon {
  width: 8.375rem;
}

.shoppe-search-empty-result__hint {
  color: rgba(0, 0, 0, 0.54);
  font-size: 18px;
}

.shoppe-search-empty-result__or {
  margin: 15px 0;
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

.shoppe-search-empty-result__btn {
  color: #fff;
  background-color: var(--primary-color);
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
}
