.register__header {
  width: 100%;
  padding: 22px 30px;
  font-size: 20px;
  color: #222;
}

.register__body {
  padding: 0 30px 30px;
}

.register__btn {
  margin-bottom: 30px;
}

.register__policy {
  margin-top: 25px;
  padding: 0 25px;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.register__policy-link {
  color: var(--primary-color);
  cursor: pointer;
  margin: 0 5px;
}
