.checkout__wrapper {
}

.checkout__product-list {
}

.checkout__product-item {
  margin-top: 15px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.checkout__item-heading {
  display: flex;
  align-items: center;
  height: 74px;
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  padding: 24px 30px 0;
}

.checkout__item-heading__primary {
  flex: 4;
  align-items: center;
  color: #222;
  display: flex;
  font-size: 18px;
}

.checkout__item-heading__text {
  flex: 2;
  text-align: right;
}

.checkout__item-content__product {
}

.checkout__item-product__shop {
  height: 50px;
  padding: 0 30px;
}

.checkout__item-product__detail {
  padding-bottom: 30px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.09);
}

.checkout__item-product__detail-content {
  color: #222;
  min-height: 55px;
  display: flex;
  font-size: 14px;
  margin: 0 30px;
}

.checkout__product-detail__description {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  flex: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkout__product-detail__description img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.checkout__product-detail__description span {
  margin: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.checkout__product-detail__price,
.checkout__product-detail__quantity,
.checkout__product-detail__total {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  align-items: center;
}

.checkout__item-content__payItem {
  background-color: #fafdff;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.09);
  display: grid;
  grid-template-columns: 40% 60%;
}

.checkout__item-content__sent {
  padding: 15px 30px;
  display: flex;
  font-size: 14px;
  position: relative;
}

.checkout__item-content__sent span {
  line-height: 40px;
}

.checkout__item-content__sent input {
  flex: 1;
  font-size: 12px;
  margin-left: 15px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.02);
  height: 40px;
  background-color: #fff;
  padding: 4px 12px;
}

.checkout__item-content__sent::after {
  content: "";
  height: 100%;
  border-right: 1px dashed rgba(0, 0, 0, 0.09);
  right: 0;
  top: 0;
  position: absolute;
}

.checkout__item-content__total {
  display: flex;
  justify-content: flex-end;
  padding: 15px 30px;
  align-items: center;
}

.checkout__item-content__total span {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.checkout__item-content__total-price {
  display: flex;
  height: 40px;
  min-width: 100px;
  padding-left: 10px;
  color: var(--primary-color);
  font-size: 20px;
  justify-content: flex-end;
  align-items: center;
}

.checkout__paycheck {
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
  margin-top: 15px;
  margin-bottom: 60px;
}

.checkout__paycheck-heading {
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  align-items: center;
  min-height: 90px;
  padding: 0 30px;
}

.checkout__paycheck-heading__text {
  flex: 1;
  color: #222;
  font-size: 18px;
  width: 200px;
}

.checkout__paycheck-heading__subtext {
  color: #222;
  font-size: 14px;
}

.checkout__paycheck-heading__select {
  color: #05a;
  cursor: pointer;
  font-weight: 500;
  margin-left: 60px;
  text-transform: uppercase;
}

.checkout__paycheck-price {
  background: #fffefb;
  border-top: 1px solid #f1f0ed;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  padding-top: 15px;
}

.checkout__paycheck-price__total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px 30px;
}

.checkout__paycheck-price__total span {
  color: rgba(0, 0, 0, 0.54);
}

.checkout__paycheck-price__total-btn {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  min-width: 100px;
  margin-left: 25px;
}

.checkout__paycheck-price__btn {
  align-items: center;
  border-top: 1px dashed rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 0;
  min-height: 95px;
  padding: 0 30px;
}

.checkout__paycheck-price__btn-text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  flex: 1;
  padding: 0 15px;
}

.checkout__paycheck-price__btn-text a {
  color: #4080ee;
}

.checkout__paycheck-price__btn-buy {
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  padding: 12px 14px;
  width: 210px;
}

.checkout__paycheck-price__btn-buy:hover {
  cursor: pointer;
  opacity: 0.9;
}
