.cart__list {
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.cart__list-nav {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  color: #888;
  display: flex;
  font-size: 14px;
  height: 55px;
  margin-bottom: 12px;
  padding: 0 20px;
}

.cart__check {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.02);
  cursor: pointer;
  color: #fff;
  margin: 0 20px;
}

.cart__check.checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.cart__list-nav__name {
  color: rgba(0, 0, 0, 0.8);
  width: 46.27949%;
  text-transform: capitalize;
}

.cart__list-nav__price,
.cart__list-nav__quantity,
.cart__list-nav__total,
.cart__list-nav__delete {
  text-align: center;
  text-transform: capitalize;
}

.cart__list-nav__price {
  width: 15.88022%;
}

.cart__list-nav__quantity {
  width: 15.4265%;
}

.cart__list-nav__total {
  width: 10.43557%;
}

.cart__list-nav__delete {
  width: 12.70417%;
}

.cart__list-item {
  background: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
}

.cart__item-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  height: 3.75rem;
  padding: 0 40px;
  display: flex;
  align-items: center;
}

.cart__item-product {
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 14px;
}

.cart__item-product__info {
  width: 46.27949%;
  display: flex;
}

.cart__item-product__img {
  display: contents;
}

.cart__item-product__img img {
  height: 80px;
  object-fit: cover;
  width: 80px;
}

.cart__item-product__title {
  display: -webkit-box;
  flex: 1;
  font-size: 14px;
  padding: 5px 40px 0 10px;
  color: rgba(0, 0, 0, 0.87);
  max-height: 38px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 16px;
}

.cart__item-product__price {
  width: 15.88022%;
}

.cart__product__price-before {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: line-through;
  margin-right: 10px;
}

.cart__item-product__quantity {
  width: 15.4265%;
}

.cart__item-product__quantity-select {
  margin: 0;
}

.cart__item-product__total {
  width: 10.43557%;
}

.cart__item-product__total span {
  color: var(--primary-color);
}

.cart__item-product__delete {
  width: 12.70417%;
}

.cart__item-delete__btn {
  font-size: 14px;
}

.cart__item-delete__btn:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.cart__item-freeship {
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  display: flex;
  padding: 1.25rem 0 1.25rem 2.5rem;
  font-size: 14px;
}

.cart__item-freeship__img {
  width: 24px;
  aspect-ratio: auto 24 / 20;
  height: 20px;
}

.cart__item-freeship__text {
  margin-left: 15px;
}

.cart__pay {
  z-index: 2;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  margin-top: 12px;
  margin-bottom: 50px;
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  box-shadow: 1px -3px 4px -3px rgba(0, 0, 0, 0.3);
}

.cart__pay-select-box {
  display: flex;
}

.cart__pay-select-all {
  font-size: 16px;
  padding: 1px 6px;
  cursor: pointer;
}

.cart__pay-delete-btn {
  margin: 0 20px;
  padding: 1px 6px;
  font-size: 16px;
  cursor: pointer;
}

.cart__pay-price-box {
  display: flex;
  align-items: center;
}

.cart__pay-price-box-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.cart__pay-price-box__text {
  margin-left: 20px;
}

.cart__pay-price-box__total {
  font-size: 24px;
  color: var(--primary-color);
  margin-left: 5px;
}

.cart__pay-price-box__btn {
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.54);
}

.cart__pay-price-box-discount {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

.cart__pay-price-box-discount span {
  color: var(--primary-color);
  padding-left: 24px;
}

.cart__pay-btn {
  border-radius: 2px;
  font-size: 14px;
  font-weight: 300;
  height: 2.5rem;
  margin: 0 22px 0 15px;
  padding: 13px 36px;
  text-transform: capitalize;
  width: 13.125rem;
  background-color: var(--primary-color);
  color: #fff;
}

.cart__pay-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Cart empty css */

.cart__empty-box {
  height: 21rem;
  flex-direction: column;
}

.cart__empty-text {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.875rem;
  line-height: 1rem;
  margin-top: 1.125rem;
  font-weight: 700;
}

.cart__empty-btn {
  margin-top: 17px;
}

.cart__empty-btn button {
  padding: 10px 42px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px 0px;
  font-weight: 300;
}

.cart__empty-btn button:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* popup delete css */
.cart__pay-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
}

.popup__display {
  display: block;
}

.cart__pay-popup__overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

.cart__pay-popup__container {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  font-size: 1rem;
  padding: 2.75rem 2.5rem 1.5rem;
  width: 27.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart__pay-popup__btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
  color: #555;
}

.cart__pay-popup__btn-back {
  background-color: var(--primary-color);
  color: #fff;
  margin-right: 24px;
}

.cart__pay-popup__btn-yes,
.cart__pay-popup__btn-back {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  width: 6.5625rem;
  text-align: center;
  cursor: pointer;
}

.cart__pay-popup__btn-yes:hover {
  background: #f8f8f8;
}

.cart__pay-popup__btn-back:hover {
  opacity: 0.9;
}

/* popup no select css */
.popup__no-select {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
}

.popup__no-select.popup__display {
  display: block;
}

.popup__no-select__container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 200px;
  flex-direction: column;
  animation: fadeInOut 2s ease-in-out forwards;
}

.no-select__mart-btn {
  text-align: center;
}

.no-select__mart-btn__icon {
  background-color: #fff;
  font-size: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.no-select__mart-btn::before {
  content: "";
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 10px solid #fff;
  transform: rotate(38deg);
  bottom: 44px;
}

.no-select__text {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.buy-nothing-btn {
  width: 100%;
  margin: 0;
}

.buy-nothing-text {
  margin-bottom: 40px;
  text-align: center;
  margin-right: 5px;
}

/* Detail discount box css */
.detail__discount-box {
  position: absolute;
  width: 600px;
  background-color: #fff;
  bottom: calc(100% + 5px);
  right: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 25px 30px;
  opacity: 0;
  transform: scale(0.3);
  transform-origin: 70% bottom;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.detail__discount-box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  top: 100%;
  right: 28%;
}

.detail__discount-box__content {
  font-size: 14px;
}

.detail__discount-box__heading {
  font-size: 20px;
  padding-bottom: 25px;
}

.detail__discount-box-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.detail__discount-box-price {
  color: var(--primary-color);
}

.detail__discount-box__footer {
  width: 100%;
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.detail__discount-box.display {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
