.board__content-list {
  display: flex;
  flex-wrap: wrap;
}

.board__content-item {
  flex-basis: 20%;
  max-width: 20%;
  margin: 5px 0;
  padding: 0 5px;
  position: relative;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.item__wrapper {
  background: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  transition: all linear 0.1s;
}

.item__wrapper:hover {
  top: -2px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.item__img-box {
  position: relative;
  padding-top: 100%;
  width: 100%;
}

.item__img-box__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  object-fit: contain;
}

.item__img-box__like-btn {
  align-items: center;
  justify-content: center;
  display: flex;
  left: -3px;
  max-width: 70%;
  position: absolute;
  top: 0.625rem;
  z-index: 1;
  background-color: var(--primary-color);
  font-size: 12px;
  padding: 0 4px;
}

.item__img-box__like-btn::before {
  border-left: 0.1875rem solid transparent;
  border-top: 0.1875rem solid;
  bottom: -0.1875rem;
  content: "";
  display: inline-block;
  filter: brightness(60%);
  left: 0;
  position: absolute;
}

.item__img-box__like-btn-text {
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  color: #fff;
}

.item__detail-box {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 8px;
}

.item__detail-box__description {
  flex-grow: 1;
  min-height: 1.75rem;
  word-wrap: break-word;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 12px;
}

.item__detail-box__price {
  align-items: center;
  display: flex;
  padding: 12px 0;
}

.item__detail-box__footer {
  display: flex;
  align-items: center;
  height: 1.25rem;
}

.item__detail-box__footer-sold {
  font-size: 12px;
  margin-left: 5px;
}

.item__detail-box__location {
  margin-top: 10px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.65);
  flex: 0 1 auto;
  font-weight: 200;
  min-height: 1em;
  text-align: left;
}

.board__footer-wrapper {
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.4);
}

.board__footer-btn {
  font-size: 20px;
  min-width: 2.5rem;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 4px 0;
}

.board__footer-btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.board__footer-btn:not(.board__footer-btn-primary):not(:first-child):not(
    :last-child
  ):hover {
  color: var(--primary-color);
}

.btn-left,
.btn-right {
  font-size: 18px;
}

.btn-left {
  margin-right: 15px;
}

.btn-right {
  margin-left: 15px;
}
