.advertisement__section-wrapper {
  padding: 32px 0;
}

.advertisement__section-box {
  width: 100%;
  height: 360px;
  position: relative;
  overflow: hidden;
}

.advertisement__img-list {
  width: 100%;
  height: 100%;
  display: flex;
}

.advertisement__img-item {
  position: absolute;
  cursor: pointer;
}

.advertisement__icon {
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translate(0px, -50%);
  line-height: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 8px 0px;
  color: rgba(0, 0, 0, 0.87);
  fill: rgba(0, 0, 0, 0.87);
  width: 35px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: initial;
  opacity: 0;
  transition: all linear 0.3s;
}

.advertisement__section-box:hover .advertisement__icon {
  opacity: 1;
}

.advertisement__icon-left,
.advertisement__icon-right {
  position: absolute;
  color: #fff;
  font-size: 30px;
  top: 50%;
  transform: translate(0px, -50%);
}

.advertisement__icon-right {
  right: 0;
}

.advertisement__dots-list {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.advertisement__dots-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
  border: 1px solid rgba(137, 137, 137, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 4px;
}

.active__advertisement {
  background-color: var(--primary-color);
}
