.login__section {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.06);
}

.header_login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
}

.header_login-logo {
  display: flex;
  align-items: center;
}

.icon-shopee-logo {
  fill: var(--primary-color);
  height: 42px;
  margin-top: -10px;
}

.header_login-text {
  font-size: 24px;
  color: #222;
  margin-left: 18px;
}

.header_login-help {
  font-size: 14px;
  color: var(--primary-color);
}
/*--------------------------- Header login -------------------------------------- */

.content__login {
  background-color: var(--primary-color);
}

.content__login-box {
  height: 600px;
  min-height: 600px;
  background-image: url(https://down-vn.img.susercontent.com/file/sg-11134004-7rdvn-m1mhig3qfrtz9a);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 600px;
  width: 1040px;
}

.box__info {
  background-color: #fff;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
  overflow: hidden;
}

.input-box {
  margin-bottom: 10px;
}

.input-box__wrapper {
  height: 2.5rem;
  overflow: hidden;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
  display: flex;
  align-items: center;
}

.input-box__wrapper:focus-within {
  border-color: rgba(0, 0, 0, 0.54);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
}

.input-text {
  width: 100%;
  padding: 12px;
  flex: 1;
  flex-shrink: 0;
  color: #222;
  font-size: 14.5px;
}

.input-box__wrapper.error {
  background: #fff6f7;
  border-color: #ff424f;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
}

.input-error {
  color: #ff424f;
  font-size: 0.75rem;
  margin: 0;
  min-height: 1rem;
  padding: 4px 0 0;
}

.login__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 2px 12px 0;
  width: 100%;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: uppercase;
  height: 2.5rem;
  min-width: 8.75rem;
  cursor: pointer;
}

.social-dash {
  padding-bottom: 14px;
  display: flex;
  align-items: center;
}

.social-dash__div {
  height: 0.5px;
  background-color: #dbdbdb;
  flex: 1;
  width: 100%;
}

.social-dash__text {
  color: #ccc;
  font-size: 0.75rem;
  padding: 0 16px;
  text-transform: uppercase;
}

.social-list {
  margin: 0 -5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-btn {
  margin: 5px;
  flex: 1;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  height: 40px;
  outline: none;
  padding: 0 2px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-btn:hover {
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.social-btn__img {
  height: 22px;
  width: 22px;
  flex-shrink: 0;
  margin-right: 8px;
}

.face__img {
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7ffa33c1e9518f30.png);
  background-position: 5.555555555555555% 62.666666666666664%;
  background-size: 325% 287.5%;
}

.gg__img {
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7ffa33c1e9518f30.png);
  background-position: 83.92857142857143% 5.154639175257732%;
  background-size: 722.2222222222222% 638.8888888888889%;
}

.social-btn__text {
  padding-top: 1px;
}

.info-footer {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.btn__info {
  color: var(--primary-color);
  margin-left: 4px;
}
