:root {
  --primary-color: #ee4d2d;
  --star-color: #f3b600;
  --primary-light-color: rgba(255, 87, 34, 0.1);
  --height-board-navbar: 2.125rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body,
html {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(245, 245, 245, 1);
  font-family: Helvetica Neue, Helvetica, Arial, 文泉驛正黑, WenQuanYi Zen Hei,
    Hiragino Sans GB, 儷黑 Pro, LiHei Pro, Heiti TC, 微軟正黑體,
    Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
  line-height: 1.2;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
  border: 0;
}

ul {
  list-style: none;
}

button {
  border: none;
  color: rgba(0, 0, 0, 0.8);
  background-color: transparent;
  outline: none;
}
